// sidebar.pug
ul.task-list
  each task in tasks
    li
      a(
        href=`/tasks/${task.id}`,
        hx-get=`/tasks/${task.id}`,
        hx-target='#content',
        hx-push-url='true'
      )= task.title

div.actions
  a(
    href='/tasks/new',
    hx-get='/tasks/new',
    hx-target='#content',
    hx-push-url='true'
  ) New Task
